<ul>
    $for(posts)$
    <section class="spotlight">
        <span class="image">
            <img src="/images/pic02.jpg" alt="">
        </span>
        <div class="content">
            <header>
                <h3>$title$</h3>
            </header>
            <p>$blurb$</p>
            <footer>
                <ul class="actions">
                    <li>
                        <a href="$url$" class="button">Details</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>
    <!-- <li>
            <a href="$url$"></a> - $date$
        </li> -->
    $endfor$
</ul>